.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.fixed-header {
  position: fixed;
  top: 0;
  min-height: 50px;
  z-index: 1000;
  height: 73px;
  background: #d1cece;
}
