.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row{
  margin-top: 10px;
}

.error{
  color: red;
}

.button-container {
  display: flex;
  flex-direction: column;
  button, p {
    margin: 5px 0;
  }
}
