<h2 class="text-center">statistics</h2>
<div class="row">
  <div class="col ">
    <div class="card">
      <ul
        class="list-group list-group-flush"
        *ngFor="let supplier of Object.keys(statisticsData)"
      >
        <li class="list-group-item">
          Total Card Amount : {{ statisticsData[supplier]["totalCardAmount"] }}
        </li>
        <li class="list-group-item">
          Total Amount Pay : {{ statisticsData[supplier]["totalAmountPay"] }}
        </li>
        <li class="list-group-item">
          Total Collected Amount :
          {{ statisticsData[supplier]["totalcollectedAmount"] }}
        </li>
      </ul>
    </div>
  </div>
</div>
