<div class="container mt-4">
    <div class="row">
        <div class="col-md-3 offset-md-4">
            <div class="card">
                <img class="card-img-top image" [src]="user.image" alt="Card image cap">
                <div *ngIf='user.provider !== "password"' class="card-body">
                    <h4 class="card-title">{{user.name}}</h4>
                    <p class="card-text">This is an example of Social Authentication using Firebase in an Angular 7 web
                        app. </p>
                </div>
                <div *ngIf='user.provider === "password"' class="card-body">
                    <form [formGroup]="profileForm" (submit)="save()">
                        <div class="form-group">
                            <label>Your name</label>
                            <input type="text" formControlName="name" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-1">
                            <span *ngIf="!displayNameAlreadySetted">Save</span>
                            <span *ngIf="displayNameAlreadySetted">Update</span>
                        </button>
                    </form>
                </div>
            </div>
            <button type="button" (click)="logout()" class="btn btn-primary mt-3">Logout</button>
        </div>
    </div>
</div>